= form_for [@section, @error_code] do |f|
  - if @error_code.errors.any?
    #error_explanation
      %h2= "#{pluralize(@error_code.errors.count, "error")} prohibited this section from being saved:"
      %ul
        - @error_code.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :message
    = f.text_field :message, class: 'form-control'

  .form-group
    = f.label :http_status_code
    = f.number_field :http_status_code, class: 'form-control'

    .form-group
      = f.label :custom_status_code
      = f.number_field :custom_status_code, class: 'form-control'

  .row
    .col-md-6.offset-3
      .actions
        = f.submit 'Save', class: 'form-control btn btn-primary'