= form_for @sub_section do |f|
  - if @sub_section.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sub_section.errors.count, "error")} prohibited this sub_section from being saved:"
      %ul
        - @sub_section.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :section
    = f.collection_select :section_id, @sections, :id, :title, {}, class: 'form-control'
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :content
    = f.text_area :content, cols: 100, rows: 20, class: 'form-control'
  .row
    .col-md-2
      .form-group
        = f.label :rank
        = f.number_field :rank, class: 'form-control'

  .row
    .col-md-6.offset-3
      .actions
        = f.submit 'Save', class: 'form-control btn btn-primary'
