%h1 Listing sub_sections

%table
  %thead
    %tr
      %th Section
      %th Title
      %th Content
      %th
      %th
      %th

  %tbody
    - @sub_sections.each do |sub_section|
      %tr
        %td= sub_section.section
        %td= sub_section.title
        %td= sub_section.content
        %td= link_to 'Show', sub_section
        %td= link_to 'Edit', edit_sub_section_path(sub_section)
        %td= link_to 'Destroy', sub_section, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Sub section', new_sub_section_path
