%nav.navbar.navbar-expand-lg.bg-dark.main-nav.mb-0
  .navbar-brand= @project.name if @project

  .collapse.navbar-collapse#navbarToggler

    %ul.navbar-nav.mr-auto

    - if current_user
      %ul.navbar-nav
        - if @project
          %li.nav-item
            - url = request.url + '?editing_mode=true'
            = link_to url, class: 'nav-link' do
              - if @editing_mode
                = fa_icon "toggle-on"
              - else
                = fa_icon "toggle-off"
              Editor
        %li.nav-item.nav-link= link_to "Projects", projects_path
        %li.nav-item.nav-link= current_user.email
        %li.nav-item= button_to 'Sign out', sign_out_path, method: :delete, class: 'btn btn-secondary'