%nav.nav.side-nav
  %ul.navbar-nav.mr-auto
    - @project.chapters.order(rank: :asc).each do |chapter|
      - next unless chapter.persisted?
      %li.nav-item{ class: params[:id].to_i == chapter.id ? 'active' : nil }
        = link_to chapter.title, chapter_path(chapter), class: 'nav-link'
        - if chapter.sections.any?
          %ul
            - chapter.sections.each do |section|
              %li.nav-item
                = link_to chapter_path(chapter, anchor: section.title.camelize), class: 'nav-link' do
                  = fa_icon "folder-open" if section.is_resource?
                  = section.title
                %ul
                  - if section.sub_sections.any?
                    - section.sub_sections.each do |sub_section|
                      %li.nav-item
                        = link_to chapter_path(chapter, anchor: sub_section.title.camelize), class: 'nav-link' do
                          - if sub_section.is_verb?
                            %i.fa.fa-file
                          = sub_section.title
