- if @section.persisted? && @section.is_error_codes?
  %p= link_to "Error Codes", section_error_codes_path(@section)

= form_for @section do |f|
  - if @section.errors.any?
    #error_explanation
      %h2= "#{pluralize(@section.errors.count, "error")} prohibited this section from being saved:"
      %ul
        - @section.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :chapter
    = f.collection_select :chapter_id, @project.chapters.order(rank: :asc), :id, :title, {}, class: 'form-control'
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :content
    (Markdown can be used. More info:
    = link_to "Markdown/Kramdown Syntax", "https://kramdown.gettalong.org/quickref.html"
    = f.text_area :content, cols: 100, rows: 15, class: 'form-control'
  .form-group
    = f.label :is_error_codes
    = f.check_box :is_error_codes, class: 'form-control'
  - if @section.persisted? && @section.is_error_codes?
    .form-group
      = f.label :error_endpoint_path
      = f.text_field :error_endpoint_path, class: 'form-control'

  .form-group
    = f.label :is_resource
    = f.check_box :is_resource, class: 'form-control'
  .row
    .col-md-2
      .form-group
        = f.label :rank
        = f.number_field :rank, class: 'form-control'

  .row
    .col-md-6.offset-3
      .actions
        = f.submit 'Save', class: 'form-control btn btn-primary'

%br
%br
