%h1 Listing sections

%table
  %thead
    %tr
      %th Chapter
      %th Title
      %th Content
      %th
      %th
      %th

  %tbody
    - @sections.each do |section|
      %tr
        %td= section.chapter
        %td= section.title
        %td= section.content
        %td= link_to 'Show', section
        %td= link_to 'Edit', edit_section_path(section)
        %td= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Section', new_section_path
