%section#invitation
  .row
    .col-md-12
      %h2 Invite a user

  .row
    .col-md-8.offset-4
      = form_for [@project, @invitation] do |f|
        .form-row.align-items-center
          .col-auto
            .field
              = f.text_field :email , placeholder: 'Email', class: 'form-control'
          .col-auto
            .field
              = f.select :role, options_for_select(UserProject.roles - ['owner']), {},class: 'form-control'
          .col-auto
            .form-check.mb-2
              = f.check_box :send_invite_email, class: 'form-check-input'
              = f.label :send_email, class: 'form-check-label'
          .col-auto
            = f.submit "Invite user", class: 'btn btn btn-primary mb-2'