= form_for @project do |f|

  - if @project.errors.any?
    .row
      .col-md-10.offset-1
        #error_explanation
          %h2.error_title= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
          %ul
            - @project.errors.full_messages.each do |message|
              %li= message

  .row
    .col-md-8.offset-2


      .form-group
        = f.label :title, "Title (*)"
        = f.text_field :title, class: 'form-control', required: true

      .form-group
        = f.label :version, "API Version (*)"
        .row
          .col-md-2
            = f.text_field :version, class: 'form-control', placeholder: '1.0.0', required: true

      .form-group
        = f.label :description, "Description"
        = f.text_field :description, class: 'form-control', placeholder: "A brief description..."

      .form-group
        = f.label :open_api_version
        = f.text_field :open_api_version, class: 'form-control'

      .form-group
        = f.label :terms_of_service_url
        = f.text_field :terms_of_service_url, class: 'form-control'

      .form-group
        = f.label :contact_name
        = f.text_field :contact_name, class: 'form-control'

      .form-group
        = f.label :contact_url
        = f.text_field :contact_url, class: 'form-control'

      .form-group
        = f.label :contact_email
        = f.email_field :contact_email, class: 'form-control'

      .form-group
        = f.label :license_name
        = f.text_field :license_name, class: 'form-control'

      .form-group
        = f.label :license_url
        = f.text_field :license_url, class: 'form-control'

      .form-group
        = f.label :color, "Hex Color"
        = f.text_field :color, class: 'form-control'

      .form-group
        = f.label :message, "Message (Display on all content)"
        = f.text_field :message, class: 'form-control'

      - if @project.persisted?
        .form-group
          = f.label :host_name
          = f.text_field :host_name, class: 'form-control'

      - unless @project.persisted?
        .form-group
          = f.label :generate_default_content
          = f.check_box :generate_default_content, class: 'form-control'

      .actions
        = f.submit class: 'btn btn-primary'
