.row
  .col-md-12
    %h2
      Servers

    %p.float-right
      = link_to new_server_path do
        = fa_icon "plus"
        Add server
    %table.table
      - @servers.each do |server|
        %tr
          %td
            = server.description
            - if server.use_for_ping?
              .badge.badge-primary Testing
          %td
            = server.url
          %td.text-right
            = link_to edit_server_path(server) do
              = fa_icon "edit"
            = link_to server_path(server), method: :delete do
              = fa_icon "times"
