= render 'nav'

%section#details
  .row
    .col-md-12

      %p.float-right
        = link_to edit_project_path(@project), id: "edit-link" do
          = fa_icon "edit"

      %table.table
        %tr
          %th Title
          %td.text-right= @project.title

        %tr
          %th Description
          %td.text-right= @project.description


        %tr
          %th Version
          %td.text-right= @project.version

        %tr
          %th Terms of service
          %td.text-right= @project.terms_of_service_url

        %tr
          %th Contact name
          %td.text-right= @project.contact_name

        %tr
          %th Contact URL
          %td.text-right= @project.contact_url

        %tr
          %th Contact email
          %td.text-right= @project.contact_email

        %tr
          %th License
          %td.text-right= @project.license_name

        %tr
          %th License URL
          %td.text-right= @project.license_url

        %tr
          %th Color
          %td.text-right= @project.color

%br

- if current_user.owner?(@project)
  .row
    .col-md-10.offset-1
      = button_to "DESTROY PROJECT", project_path(@project), method: :delete, data: { confirm: "Are you sure? This is totally non-recoverable." }, class: 'btn btn-lg btn-block btn-danger mb-3'
