= render 'nav'

#details
  .row
    .col-md-12

      %h2
        Info
        .float-right
          = link_to edit_project_path(@project) do
            = fa_icon "edit"


      %table.table
        %tr
          %th Title
          %td.text-right= @project.name
        %tr
          %th Description
          %td.text-right= @project.description