%h1 Projects

%table.table
  %thead
    %tr
      %th Name
      %th.text-center Published
      %th Host name
      %th
      %th
      %th
      %th

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name
        %td.text-center
          - if project.is_published
            = fa_icon "check"
        %td= project.host_name
        %td= link_to 'View', project_path(project, view: true)
        %td= link_to 'Show', project_path(project)
        %td= link_to 'Edit', edit_project_path(project)
        %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure? This will result in all project information to be destroyed and is not recoverable.' }

%br

= link_to 'New Project', new_project_path
