
%h1
  Projects


%p.float-right
  = link_to new_project_path do
    = fa_icon "plus"
    New Project

%table.table#projects
  %thead
    %tr
      %th Name
      %th.text-center Hosted
      %th Host name
      %th

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.title
        %td.text-center
          - if project.is_hosted
            = fa_icon "check"
        %td= project.host_name
        %td.text-right
          = link_to "View", project_path(project, view: true)
          \|
          = link_to "Settings", project_details_path(project, view: true)
          \|
          = link_to project, method: :delete, data: { confirm: 'Are you sure? This will result in all project information to be destroyed and is not recoverable.' } do
            Destroy

%br

