= render 'nav'

%h4#toggle-is-published
  - if @project.is_published
    = link_to project_toggle_is_published_path(@project), method: :post do
      = fa_icon "toggle-on"
      Published
  - else
    = link_to project_toggle_is_published_path(@project), method: :post do
      = fa_icon "toggle-off"
      Published

%br

= render 'details'
