= form_for @chapter do |f|
  - if @chapter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@chapter.errors.count, "error")} prohibited this chapter from being saved:"
      %ul
        - @chapter.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :project
    = f.collection_select :project_id, Project.all, :id, :name, {}, class: 'form-control'
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :content
    = f.text_area :content, cols: 100, rows: 15, class: 'form-control'
  .row
    .col-md-2
      .form-group
        = f.label :rank
        = f.number_field :rank, class: 'form-control'
  .row
    .col-md-6.offset-3
      .actions
        = f.submit 'Save', class: 'form-control btn btn-primary'

%br
%br
