- if @editing_mode && request_method.parameters.any?
  = render partial: "request_methods/test_params", locals: { request_method: request_method }

%h3(id="#{request_method.title.parameterize}")
  = request_method.title
  - if @editing_mode && current_user
    = link_to edit_chapter_section_request_method_path(chapter, section, request_method), class: 'action', id: "method-#{request_method.title.parameterize}" do
      = fa_icon "edit"
    - if current_user.is_beta_user?
      = link_to request_method_ping_path(request_method.id), id: "method-#{request_method.title.parameterize}", class: 'action' do
        = fa_icon "refresh"
      = link_to "{..}", request_method_parameters_path(request_method), class: 'action'
    = link_to chapter_section_request_method_path(chapter, section, request_method), class: 'action', method: :delete do
      = fa_icon "times"

- if request_method.description
  %h6 Description

  = Kramdown::Document.new(request_method.description).to_html.html_safe

%h6 Path
%p= request_method.path

.clear

#interaction.request
  .title
    Request
  .body
    = request_method.request_content

- if request_method.response_body.present?
  #interaction.response
    .title
      Response
      - if request_method.response_code.present?
        = surround("(", ")") do
          = request_method.response_code
    .body
      %pre= JSON.pretty_generate(JSON.parse(request_method.response_body)) rescue request_method.response_body