.row
  .col-md-10.offset-1

    %br
    #schema
      %p.mb-0 Open API Schema
      %h1.mb-3.mt-0= @project.title

      .row
        .col-md-8
          %p.mt-4
            This JSON is structured to comply with the OpenAPI specification and can be imported into any number of API editors, including
            = succeed(".") do
              = link_to "Swagger Editor", "https://editor.swagger.io"


      %p.mb-3.text-right
        = link_to project_schema_path(@project, download: true) do
          = fa_icon "download", id: "downloadlink", alt: "download-link"
          Download
        \|
        = link_to "http://petstore.swagger.io/?url=#{request.original_url}.json", target: '_blank' do
          = fa_icon "external-link"
          Swagger

      %pre= JSON.pretty_generate(@schema)

    %br
    %br
    %br
    %br