.row
  .col-md-10.offset-1
    #chapter
      %h1.chapter
        = @chapter.title
        - if @editing_mode && current_user
          = link_to edit_chapter_path(@chapter), class: 'action' do
            = fa_icon "edit"
          = link_to chapter_path(@chapter), class: 'action', method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do
            = fa_icon "times"
      = Kramdown::Document.new(@chapter.content).to_html.html_safe if @chapter.content

      - @sections.each do |section|
        = render partial: 'section', locals: { section: section, chapter: @chapter }

        - section.sub_sections.order(rank: :asc).each do |sub_section|
          .content-break
          = render partial: 'sub_section', locals: { sub_section: sub_section, chapter: @chapter }

        - section.request_methods.order(rank: :asc).each do |request_method|
          .content-break
          = render partial: 'request_method', locals: { request_method: request_method, chapter: @chapter, section: section }

    = render partial: 'pagination', locals: { next_chapter: @next_chapter, previous_chapter: @previous_chapter }
