.row
  .col-md-12
    %h6 
      Attributes

%br
.row
  .col-md-8
    - resource_attributes.each do |attribute|
      
      .attribute
        %code.key= attribute.key
        .characteristic= attribute.field_type
        .characteristic= attribute.is_required? ? "Required" : nil
        .description= attribute.description
        - if @editing_mode
          %p= link_to "Edit", edit_section_resource_attribute_path(section, attribute)
