= form_for [@section, @resource_attribute] do |f|
  - if @resource_attribute.errors.any?
    #error_explanation
      %h2.error_title= "#{pluralize(@resource_attribute.errors.count, "error")} prohibited this section from being saved:"
      %ul
        - @resource_attribute.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :key
    = f.text_field :key, class: 'form-control'

  .form-group
    = f.label :field_type
    = f.text_field :field_type, class: 'form-control'

  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'

    .form-group
      = f.label :is_required
      = f.check_box :is_required, class: 'form-control'

  .row
    .col-md-6.offset-3
      .actions
        = f.submit 'Save', class: 'form-control btn btn-primary'