%nav.navbar.navbar-expand-lg.navbar-dark.main-nav.mb-0(style="background-color: #{ @project ? @project.color : '#0f4c81'} !important")
  .navbar-brand
    - if @project && @project.persisted?
      = link_to @project.name, chapter_path(@project.first_chapter )
    - else
      = link_to "Yalit", root_path
  - if current_user
    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav.mr-auto

      %ul.navbar-nav
        - if @project&.persisted? && controller_name == 'chapters' && action_name != 'edit'
          %li.nav-item
            - url = request.url + '?editing_mode=true'
            = link_to url, class: 'nav-link' do
              - if @editing_mode
                = fa_icon "toggle-on"
              - else
                = fa_icon "toggle-off"
              Editor
        - if @project&.persisted? && ['chapters', 'projects', 'sections', 'request_methods', 'sub_sections', 'error_codes'].include?(controller_name)
          %li.nav-item
            = link_to project_path(@project), class: 'nav-link', "data-toggle": 'tooltip', "title": 'Project' do
              = fa_icon "archive"
          %li.nav-item
            = link_to projects_path, class: 'nav-link', "data-toggle": 'tooltip', "title": 'All projects' do
              = fa_icon "folder"
        - if @project && @project.persisted? && controller_name == 'projects'
          %li.nav-item
            = link_to project_path(@project, view: true), class: 'nav-link' do
              = fa_icon "eye"\
        %li.nav-item.dropdown
          = link_to "#", id: "navbarDropdown",class: 'nav-link dropdown-toggle', "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false", "role": "button" do
            = fa_icon "user-circle"
          .dropdown-menu.dropdown-menu-right(aria-labelledby="navbarDropdown")
            .dropdown-item= current_user.email
            = link_to sign_out_path, method: :delete, class: 'dropdown-item' do
              = fa_icon "sign-out"
              Sign out