!!!
%html
  = render 'head'

  %body
    = evil_icons_sprite
    %style(media="screen")
    = render "main_nav"
    .container-fluid#main-container
      - if @hosted
        - flash[:notice] = "Only the the project #{@project.title} is viewable and editable as you are accessing it on a hosted site. To view other projects, you need to access them on https://yalit.io."
      = render 'flash'
      .row
        .col-md-6.offset-3#main-content
          = yield

%script
  $(document).ready(function(){$('[data-toggle="tooltip"]').tooltip(); });

