!!!
%html
  = render 'head'

  %body
    = render "main_nav"
    .container-fluid#main-container
      .row
        .col-md-2.pl-0.d-none.d-md-block.sidebar
          .sidebar-sticky
            = render "side_nav" if @project
        .col-md-9.ml-sm-auto.col-lg-10.px-4#main-content
          = render "message" if @project && @message
          = render 'flash'
          = yield
      .row
        - if current_user && @editing_mode
          #editing-mode
            = render partial: 'editing_nav'

%script
  $(document).ready(function(){$('[data-toggle="tooltip"]').tooltip(); });