!!!
%html
  = render 'head'

  %body
    = evil_icons_sprite
    = render "main_nav"
    .container-fluid
      .row.flex-xl-nowrap
        .col-xl-2.col-12.col-md-3.bd-sidebar
          = render "side_nav" if @project
        .col-xl-10.col-md-9.col-xl-10.py-md-3.pl-md-5
          = render "message" if @project && @message
          = render 'flash'
          = yield
      .row
        - if current_user && @editing_mode
          #editing-mode
            = render partial: 'editing_nav'

%script
  $(document).ready(function(){$('[data-toggle="tooltip"]').tooltip(); });