!!!
%html
  = render 'head'

  %body
    = render "main_nav"
    = render "message" if @project && @message
    .container-fluid#main-container
      .row.side-nav
        .col-md-2.pl-0
          = render "side_nav" if @project
        .col-md-8.offset-1#main-content
          = render 'flash'
          = yield

    - if current_user && @editing_mode
      #editing-mode
        = render partial: 'editing_nav'

%script
  $(document).ready(function(){$('[data-toggle="tooltip"]').tooltip(); });