= form_for [@request_method,@parameter] do |f|
  - if @parameter.errors.any?
    #error_explanation
      %h2.error_title= "#{pluralize(@parameter.errors.count, "error")} prohibited this section from being saved:"
      %ul
        - @parameter.errors.full_messages.each do |message|
          %li= message

  .row
    .col
      .form-group
        = f.label :name
        = f.text_field :key, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :is_required
        = f.check_box :is_required, class: 'form-control'

  .row
    .col-md-12
      .form-group
        = f.label :description
        = f.text_area :description, class: 'form-control'

  .row
    .col-md-6
      .form-group
        = f.label :default_value
        = f.text_field :default_value, class: 'form-control'

  %br
  %hr

  %h5 Test Values for Request/Response


  .row
    .col
      = f.label :value
      = f.text_field :value, placeholder: 'value', class: 'form-control'
  %br
  .row
    .col-md-6.offset-3
      .actions
        = f.submit class: 'form-control btn btn-primary'